<footer class="main-footer">
  <section>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus eum possimus quisquam, libero fugiat
      repellendus ipsam molestiae, quo adipisci veniam quos ex hic. Quasi assumenda, ex provident soluta voluptas veniam
      ad! Dignissimos est ullam possimus modi eveniet a architecto. Ipsam reiciendis odio facilis necessitatibus non
      libero cum esse excepturi, commodi recusandae illo itaque neque qui blanditiis quisquam, rerum perferendis
      veritatis debitis reprehenderit! Quia doloribus officia, provident minima illum et aspernatur facere architecto
      labore suscipit sit incidunt, molestiae ex tempore tenetur culpa nostrum inventore repellat pariatur sunt
      cupiditate sed assumenda amet odio! Voluptatem exercitationem dolore sed cumque at corporis, voluptates, eos nulla
      optio natus ipsum culpa repudiandae, repellat tenetur aliquam quis saepe laborum? Officia deleniti dolorem rem
      fugiat expedita architecto inventore optio aliquam ratione consequatur. Perspiciatis blanditiis ut vero, quos
      minima pariatur inventore sed dolor modi numquam voluptas deserunt quidem veritatis! Nostrum minima velit nihil
      reprehenderit ex dolorum consectetur voluptatum dignissimos!</p>
  </section>
</footer>