<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Mi sitio</title>
</head>

<body>
    <header>

        <section class="header">
            <nav class="bar-nav">

                <a href="/">inicio</a>
                <a href="/movies/create">Crear una nueva Pelicula</a>
                <a href="/series">Todas Tus Series Favoritas</a>
                <a href="/genres">Todos Los Generos</a>
                <a href="/actors/list">Todos tus actores favoritos</a>
               
            </nav>
    </header>
    </section>
</body>

</html>