

body {
  background-color:black;
  color: white;
 

}

a {
  font-size: 18px;
  color: white;
}


.header{
  background-color:black;
  padding-top: 40px;
  margin-top: 0px;
}


/* footer */

.main-footer {
  background-color: gray;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0%;
 
}


img{
  width: auto; 
  height: 270px;
}

.contenedor-principal {
display: flex;
flex-direction: row;

}

.bar-nav{
  display: flex;
justify-content: space-around;
}

.movie_series{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 25px;
  margin-left: 50px;
}

.actors_genres{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 25px;
}
