<%- include('../incluciones/header')-%>
    <%- include('../incluciones/head')-%>


        <body>

            
            <h1>Listado de peliculas por genero:</h1>

            <% for(genre_by_movie of genre_by_movies) {%>


                <li>
                    <%=genre_by_movie.title%>
                </li>
                <% } %>

        </body>
        <%- include('../incluciones/footer')-%>

            </html>